*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(198, 154, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    text-align: center;

}
form{
    
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        background-color: rgb(48, 10, 83);
        margin: 0 auto;
}

form input{
        border: none;
        outline: none;
        border: 1px solid #d4d4d4;
        padding: 10px;
        resize: none;
   
}
form input[type='submit']{
    cursor: pointer;
}
form input[type='submit'] {
    width: 100%;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #261c85;
    color: #fff;
    text-align: center;
}